ul {list-style: none;}

body{
    font-family:'notokr-regular', sans-serif;
}

.wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header_wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header_wrap .top{
    width: 1100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ededed;
    height: 48px;
    line-height: 48px;
    
}
.top .joinlogin{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: right;
}
.joinlogin .join, .joinlogin .login, .joinlogin .admin, .joinlogin .mypage{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
}
.header_wrap .header {
    width: 1100px;
    display: flex;
    justify-content: left;
    height: 60px;
}

.logo img{
    padding-top: 10px;
    width: 200px;
    cursor: pointer;
}

.header .menu_web{
    width: 900px;
    display: flex;
    justify-content: right;
}

.header .menu_web ul li{
    font-size: 150%;
    font-weight: bold;
    display: inline;
    margin:50px
}
.header .menu_web ul li a{
    cursor: pointer;
    font-size: 17px;
}
.wrap .mainContainer{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ededed;
}

.mainContainer h1{
    color: #179340;
}

.mainContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer form input, .mainContainer form select, .mainContainer form button{
    padding: 10px;
            width: 460px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 5px 0; 
}

.mainContainer #joinBtn{
    color: #666;
    font-size: 14px;
    cursor: pointer;
}

.mainContainer form button{
    background-color: #179340;
    color: #fff;
    cursor: pointer;
}

.dashboard{
    background-color: rgb(230, 225, 225);
    width: 100%;
    height: 800px;
    border-bottom:1px solid #ededed;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.admin_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(230, 225, 225);
    overflow: hidden;
}
.quadrant{
    flex: 47%;
    height: 300px;
    box-sizing: border-box;
    margin: 1%;
    padding: 10px;
    overflow: hidden;
}
.top-left{
    background-color: #f1c40f;   
}
.top-right{
    background-color: #e74c3c;   
}
.bottom-left{
    background-color: #2ecc71;   
}
.bottom-right{
    background-color: #3498db;   
}

.search_container{
    width: 80%;
    display: flex;
    justify-content: center;
}

.search_container a{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    width: 500px;
    overflow: hidden;
}

#search_input{
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20%;
    border-radius: 4px 4px 4px 4px;
}
#search_btn{
    background-color: #4CAF50;
    text-align: center;
    color:white;
    border: 1px solid #4CAF50;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px
}
#add_btn{
    margin-left: 10px;
    background-color: #4CAF50;
    text-align: center;
    color:white;
    border: 1px solid #4CAF50;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px   
}

.result_table{
    display: flex;
    width: 80%;
    margin:0 auto;
}

.result_table table{
    width: 100%;
}

.mapContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.currentLocation{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 10;
}